[submodule "broker"]
	path = broker
	url = https://github.com/Sandbox-gVisor/broker.git
	branch = main.remote
[submodule "ws_server"]
	path = ws_server
	url = https://github.com/Sandbox-gVisor/ws_server.git
	branch = dev.remote
[submodule "WebView"]
	path = WebView
	url = https://github.com/Sandbox-gVisor/WebView.git
	branch = dev.remote
